@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  width: 300px;
  height: 350px;
  background-color: #E9F2EE;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  line-height: 1.1rem;
}

.container img.logo {
  width: 40px;
}

.container h2 {
  color: #3f3f3f;
  font-size: 1.4rem;
}

.open, .closingToday {
  margin-bottom: 1rem;
  background-color: #22B379;
  padding: 0.6rem 0.8rem;
  text-align: center;
  border-radius: 0.7rem;
}

.closingToday {
  background-color: #F45B69;
}

.upcomingIPO-cards .open{
  background-color: #61bf76;
}

.open h3, .closingToday h3 {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.open p, .closingToday p {
  color: #fff;
  font-size: 0.95rem;
}

#closingToday h2{
  text-align: center;
}

.footer{
  text-align: center;
}

.footer p{
  font-weight: 500;
  font-size: 1.1rem;
}

.footer img{
  margin-bottom: 1rem;
}

#loading {
  margin-bottom: -10rem;
}

#loading-image {
  display: block;
  margin: 2rem auto;
  z-index: 100
}